@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color_principal: #1F55A1;
    --color_secundario: #16C79A;
    --color_terciario: #0D1A42;
    --color_black: #000;
    --color_white: #fff;
    --color_text: #797C7F;
    --fondo_gris_claro: #f5f5f5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}
body a {
    text-decoration: none;
}
body h1, h2, h3, h4, p {
    margin-bottom: 0; 
}
body input:focus {
    box-shadow: none;
    outline: 0;
}


.color-principal {color: var(--color_principal);}
.color-secundario {color: var(--color_secundario);}
.color-terciario{ color: var(--color_terciario);}
.bg-principal {background-color: var(--color_principal);}
.bg-secundario {background-color: var(--color_secundario);}
.bg-terciario {background-color: var(--color_terciario);}
.bg-copy { background-color: #0b1535}
.bg-gris {background-color: var(--fondo_gris_claro);}
.color-text {color: var(--color_text);}
.color-star {color: var(--color_star);}
.bg-claro {background-color: var(--color_box_claro);}



/* -------------------HEADER------------------- */
.header {
    background-color: var(--color_white);
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo-header {
    margin-bottom: -70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* -----------------VARIABLE--------------------- */
.stand {
    font-size: 14px;
    font-weight: 900;
    color: var(--color_principal);
    letter-spacing: 5px;
}

.btn-metd {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 15px;
}


/* ------------------COVER----------------------- */
.cover {
    z-index: 3;
}
.back-cover-home {
    width: 100%;
    background-image: url(../img/banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* ------------------HORARY-------------------- */
.horary {
    margin-top: -75px;
    position: absolute;
}
.content-horary {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* -----------------CARDS---------------------- */
.card-health-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.row-cards-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2.1fr;
    gap: 30px;
}

/* ------------------BLOG----------------------- */
.img-blog {
    border-bottom: 4px solid var(--color_principal);
}


/* -------------------PROCESS----------------- */
.img-process {
    border: 1px dashed var(--color_text);
}

/* ------------------CONTACT-------------------- */
.contact {
    background-image: url(../img/map-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.content-contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}
.form-contact .item-form textarea,
.form-contact .item-form input[type="email"],
.form-contact .item-form input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color_text);
    background-color: transparent;
    padding: 5px 0px;
}
.form-contact .item-form textarea::placeholder,
.form-contact .item-form input[type="email"]::placeholder,
.form-contact .item-form input[type="text"]::placeholder {
    font-size: 15px;
    font-weight: 700;
    color: var(--color_text);
}

/* ----------------FOOTER--------------- */
.footer {
    background-image: url(../img/footer-bg-images.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.link-social {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color_principal);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_principal);
    border-radius: 15px;
}
.left-footer {
    border-right: 1px dashed var(--color_principal);
}