@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color_principal: #1F55A1;
    --color_secundario: #16C79A;
    --color_terciario: #0D1A42;
    --color_black: #000;
    --color_white: #fff;
    --color_text: #797C7F;
    --fondo_gris_claro: #f5f5f5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}
body a {
    text-decoration: none;
}
body h1, h2, h3, h4, p {
    margin-bottom: 0; 
}
body textarea:focus,
body input:focus {
    box-shadow: none;
    outline: 0;
}


.color-principal {color: var(--color_principal);}
.color-secundario {color: var(--color_secundario);}
.color-terciario{ color: var(--color_terciario);}
.bg-principal {background-color: var(--color_principal);}
.bg-secundario {background-color: var(--color_secundario);}
.bg-terciario {background-color: var(--color_terciario);}
.bg-copy { background-color: #0b1535}
.bg-trans {background-color: #0000009a;}
.bg-gris {background-color: var(--fondo_gris_claro);}
.color-text {color: var(--color_text);}
.color-star {color: var(--color_star);}
.bg-claro {background-color: var(--color_box_claro);}
.border-3-secundario {border: 3px solid var(--color_secundario);}



/* -------------------HEADER------------------- */
.header {
    background-color: var(--color_white);
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo-header {
    margin-bottom: -70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.canvas-menu i {
    cursor: pointer;
}
.canvas-menu i:hover {
    background-color: var(--color_principal);
    color: var(--color_white);
}
.link-nav {
    transition: 0.2s;
}
.link-nav:hover {
    color: var(--color_terciario);
    padding-bottom: 5px;
}

/* -----------------VARIABLE--------------------- */
.stand {
    font-size: 14px;
    font-weight: 900;
    color: var(--color_principal);
    letter-spacing: 5px;
}

.btn-metd {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 15px;
}


/* ------------------COVER----------------------- */
.cover {
    z-index: 3;
}
.cover-contacto {
    margin-top: 110px;
}
.back-cover-home {
    width: 100%;
    background-image: url(../img/banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.back-cover-sst {
    width: 100%;
    background-image: url(../img/banner-sst.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.back-cover-medlab {
    width: 100%;
    background-image: url(../img/med-laboral.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.back-cover-legal {
    width: 100%;
    background-image: url(../img/legal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.back-cover-citas {
    width: 100%;
    background-image: url(../img/viviana-metd.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.abs-cover-citas {
    background-color: #ffffffcc;
}
.btn-agend:hover {
    background-color: var(--color_principal);
    border: 2px solid var(--color_principal);
}
.back-cover-contacto {
    width: 100%;
    height: 400px;
    background-image: url(../img/contact-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.back-cover-blog {
    width: 100%;
    height: 400px;
    background-image: url(../img/blog-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.abs-cover-blog {
    background-color: #ffffff9c;
}
.btn-cover:hover {
    background-color: var(--color_principal);
    color: var(--color_white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


/* ------------------HORARY-------------------- */
.horary {
    margin-top: -75px;
    position: absolute;
}
.content-horary {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ----------------IF----------------- */
.btn-cite:hover {
    background-color: var(--color_principal);
    color: var(--color_white);
}

/* -----------------CARDS---------------------- */
.card-health-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.row-cards-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2.1fr;
    gap: 30px;
}
.link-read:hover {
    color: var(--color_secundario);
}
.link-read:hover i {
    margin-left: 20px;
    color: var(--color_secundario);
}
.btn-agend:hover {
    background-color: var(--color_principal);
    color: var(--color_white);
}
/* ------------------BLOG----------------------- */
.img-blog {
    border-bottom: 4px solid var(--color_principal);
}
.link-note:hover {
    color: var(--color_secundario);
}
.link-note:hover i {
    margin-left: 20px;
    color: var(--color_secundario);
}
.card-blog:hover .img-blog .img-back {
    transform: scale(1.1);
}

/* -------------------PROCESS----------------- */
.img-process {
    border: 1px dashed var(--color_text);
}

/* ------------------CONTACT-------------------- */
.item-msg {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.content-contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}
.form-contact .item-form textarea,
.form-contact .item-form input[type="email"],
.form-contact .item-form input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #9d9d9d;
    background-color: transparent;
    padding: 5px 0px;
}
.form-contact .item-form textarea::placeholder,
.form-contact .item-form input[type="email"]::placeholder,
.form-contact .item-form input[type="text"]::placeholder {
    font-size: 15px;
    font-weight: 700;
    color: var(--color_text);
}
.btn-submit:hover {
    background-color: var(--color_principal);
    color: var(--color_white);
}

/* ----------------FOOTER--------------- */
.footer {
    background-image: url(../img/footer-bg-images.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.link-social {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color_principal);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_principal);
    border-radius: 15px;
    transition: 0.5s;
}
.link-social:hover {
    color: var(--color_white);
    border: 2px solid var(--color_white);
}
.left-footer {
    border-right: 1px dashed var(--color_principal);
}


/* ------------------VID------------------ */
.back_video {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* ------------------PROGRAM------------------ */
.program {
    margin-top: 500px;
}

/* -------------------ROW-ASE-------------------- */
.row-ase {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}
.btn-ase:hover {
    background-color: var(--color_terciario);
    color: var(--color_white);
}

/* ------------------ROW-GRID----------------- */
.box-item {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ------------------ROW-LEGAL----------------- */
.row-legal {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.video-legal {
    border-radius: 15px 0px 0px 15px;
}
.item-list {
    padding: 5px 0px;
    border-bottom: 1px dashed var(--color_secundario);
    width: 100%;
}
.item-list:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

/* ---------------------IFRAMES----------------- */
.item-iframe {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}