@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color_principal: #1F55A1;
    --color_secundario: #16C79A;
    --color_terciario: #0D1A42;
    --color_black: #000;
    --color_white: #fff;
    --color_texto: #797C7F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}
body a {
    text-decoration: none;
}
body h1, h2, h3, h4, p {
    margin-bottom: 0;
}